@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

/// HEADER SECTION ///
header{
    .navbar-container{
        @include flex-setup;
        align-items: center;
        margin: 2rem 5rem 3rem 5rem;

        .nav-logo{
            .logo{
                color: $main-color;
                font-family: "DM Serif Display";
                font-size: 2.25rem;
                font-weight: 400;
                line-height: $line-height-setup;
            }
        }

        .hamburger{
            display: none;
        }

        .nav-links{
            .links{
                color: $main-color;
                font-size: $font-size;
                font-weight: $font-weight;
                line-height: $line-height-setup;
                margin-left: 2.5rem;

                &:hover{
                    opacity: 50%;
                    transition: .3s;
                }
            }

            .links-1{
                margin-left: 0;
            }
        }

        .nav-icons{
            .fa-solid{
                color: $main-color;
                font-size: $font-size;
                margin-left: 1rem;
                cursor: pointer;
                transition: transform .2s ease;

                &:hover{
                    transform: scale(1.2);
                }
            }

            .fa-magnifying-glass{
                margin-left: 0;
            }
        }
    }
}

@include mobile-view{
    header{
        .navbar-container{
            margin: 2rem 1rem 2rem 1rem;

            .hamburger{
                display: block;
                cursor: pointer;

                input{
                    display: none;

                    &:checked{
                        +{
                            svg{
                                transform: rotate(-45deg);

                                .line-top-bottom{
                                    stroke-dasharray: 20 300;
                                    stroke-dashoffset: -32.42;
                                }
                            }
                        }
                    }
                }
                
                svg{
                    height: 3rem;
                    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }

                .line{
                    fill: none;
                    stroke: $main-color;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 3;
                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }
    
                .line-top-bottom{
                    stroke-dasharray: 12 63;
                }
            }

            .nav-links{
                display: none;
                position: fixed;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                border-radius: .5rem;
                padding: 2rem;
                box-shadow: 0 200px 200px 25px rgba(0, 0, 0, 0.6);
                max-height: 70vh;
                width: 80%;
                overflow-y: auto;
                z-index: 50;
                opacity: 0;
                transition: opacity 0.4s ease, transform 0.4s ease;

                &.show{
                    animation: fadeInUp 1s forwards;
                    transform: translate(-50%, -50%) scale(1);
                }

                @keyframes fadeInUp{
                    from {
                    opacity: 0;
                    transform: translate(-50%, -50%) scale(0.8) translateY(30px);
                    }
                    to {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                    }
                }

                .links{
                    font-size: 1.125rem;
                    font-weight: 400;
                    // color: $color-heading;
                    letter-spacing: -0.00863rem;
                    margin-bottom: 1.7rem;
                    padding: 0;
                }
          
                a{
                  display: block;
                  text-align: center;
                }
            }

            .nav-icons{
                display: none;
            }
        }
    }
}

/// MAIN SECTION ///
main{
    margin: 2rem 5rem;

    .hero-section{
        position: relative;
        @include flex-setup;
        margin-bottom: 6rem;
        padding-bottom: 1.5rem;

        img{
            @include img-size;
            position: absolute;
            top: 69px;
            right: -115px;
            z-index: 0;
        }

        .container{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 31.25rem;
            height: auto;
            padding: 3rem 0 1.5rem 0;
            flex-shrink: 0;
            background: rgba(#F5F5F5, 0.78);
            backdrop-filter: blur(10px);
            z-index: 3;

            h1{
                font-size: 4rem;
                margin-bottom: 2rem;
                width: 30.75rem;
            }

            p{
                color: $secondary-color;
                font-size: 1.5rem;
                line-height: 120%;
                width: 21.875rem;
            }
        }

        .container-1{
            width: 52.1875rem;
            height: 31.875rem;
            flex-shrink: 0;
            border-radius: 0 0 0 4.6875rem;
            background: url("../images/bg-hero-section.png") transparent 50% / cover no-repeat;
            margin-left: auto;
            z-index: 2;
        }
    }

    .second-section{
        margin-bottom: 6rem;

        h2{
            font-size: 3rem;
            margin-bottom: 1.8rem;
        }

        .sort-items{
            display: flex;
            justify-content: center;

            .items{
                color: $main-color;
                font-size: 1.1rem;
                font-weight: $font-weight;
                line-height: 100%;
                margin-right: 2.5rem;
            }
        }

        .items-container{
            @include flex-setup;
            flex-wrap: wrap;
            align-items: stretch;
            margin: 3rem auto 0 auto;
            gap: 60px 0;

            @keyframes fadeIn {
                0% {opacity: 0;}
                100% {opacity: 1;}
            }            

            .items{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: calc(22.875rem - 10px);
                height: 23.25rem;
                flex-shrink: 0;
                margin: .625rem;
                box-sizing: border-box;
                border-radius: 0rem 0rem 0rem 3.125rem;
                background: #eee5dd;
                position: relative;

                h3{
                    font-size: 2rem;
                    margin-left: 2rem;
                    margin-bottom: .5rem;
                    position: absolute;
                    top: 24px;
                }

                p{
                    color: $secondary-color;
                    font-family: "DM Serif Display";
                    font-size: 1.5rem;
                    line-height: 100%;
                    margin-left: 2rem;
                    position: absolute;
                    top: 58px;
                }

                img{
                    max-width: 100%;
                    height: auto;
                    text-align: center;
                    margin: 0 auto;
                    position: relative;
                    bottom: -75px;
                }

                .chaise{
                    bottom: -90px;
                }

                .couch{
                    bottom: -105px;
                }
            }
        }

        .items-container.filtered {
            justify-content: flex-start;
        }

        @media (max-width: 600px) {
            .items {
              width: calc(50% - 20px);
            }
        }
    }

    .third-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-bottom: 6rem;

        .showcase{
            position: absolute;
            left: -357px;
            top: 151px;
            @include img-size;
            z-index: 1;
        }

        .img{
            z-index: 2;
            margin-left: -3rem;
            
            img{
                width: 38.9375rem;
                height: 40.75rem;
                flex-shrink: 0;
                margin-left: auto;
            }
        }

        .text{
            z-index: 2;
            margin-left: -8rem;

            h2{
                font-size: 3rem;
                margin-bottom: 3rem;
            }

            p{
                color: $secondary-color;
                font-size: $font-size;
                line-height: 150%;
                width: 22rem;
                margin-bottom: 3rem;
            }

            .directions{
                display: flex;

                .left{
                    margin-right: 1rem;
                    background: #eee5dd;
                    opacity: .4;
                    padding: .5rem 1rem;
                    cursor: pointer;

                    .fa-arrow-left{
                        font-size: 1.8rem;
                    }
                }

                .right{
                    @extend .left;
                    opacity: 1;
                    margin-right: 0;

                    .fa-arrow-right{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .last-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 15.438rem;
        border-radius: 0 6.25rem 0 0;
        background: #eee5dd;

        h3{
            font-size: 2.5rem;
            margin: 0 0 1rem 3rem;
        }

        .btn-last-section{
            margin: 1.5rem 0 0 3rem;

            .btn-0{
                background-color: $main-color;
                padding: .8rem 2.25rem;
                color: #fff;
                font-size: 1.15rem;
                font-weight: $font-weight;
                margin-right: 1rem;

                &:hover{
                    background-color: #fff;
                    color: $main-color;
                    transition: .25s
                }
            }

            .btn-1{
                @extend .btn-0;
                background-color: #fff;
                color: $main-color;

                &:hover{
                    background-color: $main-color;
                    color: #fff;
                }
            }
        }
    }
}

@include mobile-view{
    main{
        margin: 2rem 1rem;

        .hero-section{
            margin-bottom: 4rem;

            img{
                display: none;
            }

            .container{
                width: 15.252rem;
                height: 13.563rem;
                top: 75px;

                h1{
                    font-size: 1.875rem;
                    width: 14.627rem;
                }

                p{
                    font-size: .719rem;
                    width: 10.53rem;
                }
            }

            .container-1{
                background: url("../images/bg-hero-section-mobile.png") transparent 50% / cover no-repeat;
                width: 33.601rem;
                height: 22.813rem;
                position: relative;
                left: 88px;
            }
        }
    }
}