@use 'globals/variables' as *;
@use 'globals/mixins' as *;
@use 'globals/reset';
@use 'globals/typography';

/// HEADER SECTION ///
header{
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 5rem;

        .nav-logo{
            .logo{
                color: $main-color;
                font-family: "DM Serif Display";
                font-size: 2.25rem;
                font-weight: 400;
                line-height: $line-height-setup;
            }
        }

        .nav-links{
            .links{
                color: $main-color;
                font-size: 1.25rem;
                font-weight: 500;
                line-height: $line-height-setup;
                margin-left: 2.5rem;

                &:hover{
                    opacity: 50%;
                    transition: .3s;
                }
            }

            .links-1{
                margin-left: 0;
            }
        }

        .nav-icons{
            .fa-solid{
                color: $main-color;
                font-size: 1.5rem;
                margin-left: 1rem;
                cursor: pointer;
                transition: transform .3s ease;

                &:hover{
                    transform: scale(1.2);
                }
            }

            .fa-magnifying-glass{
                margin-left: 0;
            }
        }
    }
}