@use 'variables' as *;

@mixin flex-setup{
    display: flex;
    justify-content: space-between;
}

@mixin img-size{
    width: 48.5rem;
    height: 12.938rem;
}

@mixin mobile-view{
    @media only screen and (max-width: 600px){
      @content;
    }
}