h1, 
h2, 
h3,
h4,
h5,
h6{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

p,
span{
    font-family: 'Roboto', sans-serif;
}

a,
a:visited,
a:active{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}